* {
    margin: 0;
    padding: 0;
}
.products {
    display: grid;
    justify-content: center;
    margin: 16px 0 16px 0;
    .products-info {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin: 16px 0 16px 0;
    }
    p {
        width: 100%;
    }
}
.searching-section {
    display: flex;
    gap: 16px;
    background-color: #D9D9D9;
    height: 40px;
    align-items: center;
    .searching-navbar {
    justify-content: flex-start;
    width: 30%;
    margin-left: 32px;
    padding-right: 16px;
    #search {
        background-image: url("../../assets/svg/search-logo-svg.svg");
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: right;
        margin-right: 6px;
        }
    }
}
#topics {
    min-height: 26px;
    border-radius: 5px;
}
.card-display{
    width: 100%;
    display: grid;
    grid-template-columns: 368px 368px 368px;
    justify-content: center;
    margin: 32px 0 32px 0;
    padding: 0%;
    gap: 50px;
    row-gap: 60px;
    .card-container {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #D9D9D9;
        width: 368px;
        height: 380px;
        border: 1px;
        border-radius: 45px;
    }
}